.product-container {
  height: 85vh;
  margin-top: 0.2vh;
  display: flex;
  gap: 1.5rem;
}

.product-image {
  height: 90%;
  object-fit: cover;
  width: 100%;
  margin-top: 5%;
}

.image-container {
  height: 100%;
  width: 45%;
}

.details-container {
}

.content-container {
  width: 55%;
  justify-self: center;
  align-self: center;
}

.name-section {
  font-size: xx-large;
  font-weight: bold;
}

.popularity-section {
}

.delivery-section {
  height: 10vh;
  background-color: rgb(0, 75, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.description-section {
  min-height: 20vh;
  height: fit-content;
}
.description-section>h5 {
   font-weight: bold;
}

.rating {
  width: fit-content;
}

.category {
  color: grey;
  font-weight: bold;
}

.order-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 1rem;
  margin-top: 3rem;
}

.add-to-cart {
  width: 35%;
  height: 100%;
}

.price {
  width: fit-content;
  font-size: x-large;
  font-weight: bold;
}
