.brand-name {
    color: red;
    font-weight: bold;
  }
  
  .brand-text {
    color: black;
  }

  .bucket-container{
    position: relative;
  }
  
  .cart-count {
    background-color: red;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(75%, 75%);
  }
  